<ul *ngIf="pages?.length>0" class="pagination">
    <li class="page-item" *ngIf="!paginator.first">
        <a class="page-link" [routerLink]="['/clients/page', 0]">&laquo;</a>
    </li>
    <li class="page-item" *ngIf="!paginator.first">
        <a class="page-link" [routerLink]="['/clients/page', paginator.number - 1]">&lsaquo;</a>
    </li>    
    <li class="page-item" *ngFor="let page of pages" [ngClass]="page-1 == paginator.number ? 'active':''">
        <span *ngIf="page-1 == paginator.number" class="page-link">{{page}}</span>
        <a *ngIf="page-1 != paginator.number" class="page-link" [routerLink]="['/clients/page', page-1]">{{page}}</a>
    </li>    
    <li class="page-item" *ngIf="!paginator.last">
        <a class="page-link" [routerLink]="['/clients/page', paginator.number + 1]">&rsaquo;</a>
    </li>
    <li  class="page-item" *ngIf="!paginator.last">
        <a class="page-link" [routerLink]="['/clients/page', paginator.totalPages-1]">&raquo;</a>
    </li>
</ul>
