<div class="card bg-light mb-3">
    <div class="card-header">{{header}}</div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-secondary" role="button" [routerLink]="['/clients/form']">Client Create</button>
        </div>
        <div class="alert alert-info" *ngIf="clients?.length==0">{{notClientsMessage}}</div>
        <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
            <thead class="text-center">
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>correo</th>
                    <th>fecha</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{client.id}}</td>
                    <td>{{client.firstName}}</td>
                    <td>{{client.lastName}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.createdAt}}</td>
                    <td>
                            <div class="text-center">                       
                        <div class="btn-group" role="group">                               
                            <button class="btn btn-secondary btn-sm" role="button" name="editBtn" [routerLink]="['/clients/form', client.id]">edit</button>                    
                            <button class="btn btn-danger btn-sm" role="button" name="deleteBtn" (click)="deleteClient(client)">delete</button>
                        </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-paginator *ngIf="paginator" [paginator]="paginator"></app-paginator>
    </div>
</div>