<div class="card bg-light mb-3">
    <div class="card-header">{{header}}</div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>correo</th>
                    <th>fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{client.id}}</td>
                    <td>{{client.firstName}}</td>
                    <td>{{client.lastName}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.createdAt}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>